<!DOCTYPE html>
<title>Shipping Time</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
    <h1>Shipping Time</h1>

    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('add_delivery') }}" method=post class=add-delivery>
        <dl>
            <dt>Tracking Number:
            <dd><input type=text size=25 name=tracking>
            <dt>Carrier:
            <dd><select name=carrier>
                <option value="UPS">UPS</option>
                <option value="Fedex">Fedex</option>
                <option value="USPS">USPS</option>
                <option value="other">other</option>
                </select>
            <dt>Street Address:
            <dd><input type=text size=50 name=street_address>
            <dt>Zipcode:
            <dd><input type=text size=5 name=zipcode>
            <dd><input type=submit value=Add>
        </dl>
    </form>

    <table style="width:100%">
    <tr>
        <td><b>Tracking ID</b></td>
        <td><b>Carrier</b></td>
        <td><b>Street Address</b></td>
        <td><b>Zipcode</b></td>
    </tr>
    {% for delivery in deliveries %}
        <tr>
            <td>{{ delivery.tracking }}</td>
            <td>{{ delivery.carrier }}</td>
            <td>{{ deliver.street_address }}</td>
            <td>{{ deliver.zipcode }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
